<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Board List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--부트스트랩 css 추가-->
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <div class="col-md-12">
                    <table class="table table-striped table-horizontal table-bordered mt-3">
                        <thead class="thead-strong">
                            <tr>
                                <th width="10%">게시글번호</th>
                                <th width="">제목</th>
                                <th width="20%">작성자</th>
                                <th width="20%">작성일</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr >
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col">
                            <ul class="pagination">
                                <li class="page-item" >
                                    <a class="page-link" >
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" onclick="fnDelete()">Delete</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:location.href='/board/write.do'">Register</button>
                </div>
            </div>
        </div>
        <!--부트스트랩 js, jquery 추가-->
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
    </body>
</html>